*.png
*.bmp
*.jpg
*.eps
*.emf
*.mat
!apd/results/apd_awgn_results_Ptx_vs_ka.mat
!soa/results/soa_awgn_results_req_Ptx_vs_Fn.mat
*.asv
*.tikz
*.zip
*.pdf
*.aux
*.gz
*.log
ofdm/trash/
soa/trash/
apd/trash/
mpam/trash/
!gui/data/*.png