*.png
*.bmp
*.jpg
*.eps
*.emf
*.mat
*.dvi
*.tikz
*.auxlock
!apd/results/apd_awgn_results_Ptx_vs_ka.mat
!soa/results/soa_awgn_results_req_Ptx_vs_Fn.mat
*.asv
*.zip
*.pdf
*.aux
*.gz
*.log
ofdm/trash/
ofdm/f/trash/
soa/trash/
apd/trash/
mpam/trash/
!gui/data/*.png
*.o*
coherent/DSP/old/
coherent/trash/
*.blg
*.xlsx
coherent/results/
!coherent/results/*.m
*.md5
*.dpth
*.bbl
*.blg
figs/*.tex
!edfa/data/*.mat
edfa/doc/presentation_equations.tex
edfa/doc/header.tex
